//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Backslash {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <0 1>;
        };

        FwdSlash {
            bindings = <&kp SLASH>;
            key-positions = <8 9>;
        };

        Layer3 {
            bindings = <&tog 3>;
            key-positions = <1 2 3>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12 10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp APOSTROPHE  &kp COMMA   &kp DOT              &kp P         &kp Y        &kp F    &kp G        &kp C        &kp R       &kp L
              &hm LGUI A      &hm LALT O  &hm LCTRL E          &hm LSHIFT U  &kp I        &kp D    &hm RSHFT H  &hm RCTRL T  &hm RALT N  &hm RGUI S
&lt 3 ESCAPE  &kp SEMICOLON   &kp Q       &kp J                &kp K         &kp X        &kp B    &kp M        &kp W        &kp V       &kp Z       &kp MINUS
                                          &mt LCTRL BACKSPACE  &lt 1 TAB     &kp SPACE    &kp RET  &lt 2 BSPC   &kp TILDE
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
              &kp TILDE       &kp HOME   &kp UP_ARROW  &kp END    &kp LBRC    &kp RBRC  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
              &kp LEFT_SHIFT  &kp LEFT   &kp DOWN      &kp RIGHT  &kp LBKT    &kp RBKT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp LEFT_ALT  &kp LEFT_WIN    &kp MINUS  &trans        &kp PLUS   &kp LPAR    &kp RPAR  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_MULTIPLY  &kp PLUS
                                         &trans        &trans     &trans      &trans    &kp COLON     &kp LEFT_ALT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
                &kp EXCL   &kp AT     &kp HASH  &kp DOLLAR  &kp PERCENT        &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT  &kp DQT
                &kp SLASH  &kp EQUAL  &kp PLUS  &kp MINUS   &kp ASTERISK       &trans     &trans         &trans           &trans   &trans
&studio_unlock  &trans     &trans     &trans    &trans      &kp PRINTSCREEN    &kp UNDER  &kp EQUAL      &trans           &trans   &kp BACKSLASH  &kp HOME
                                      &trans    &trans      &trans             &trans     &trans         &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &bt BT_CLR_ALL  &trans  &trans  &to 0     &trans  &trans  &trans  &kp END  &kp F1
        &trans       &trans          &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F10
&trans  &trans       &trans          &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F20  &kp F7
                                     &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
